@typeparam TValue
@inherits InputBase<TValue>

<div class="form-group">
    @if (!String.IsNullOrEmpty(Label))
    {
        @if (Required)
        {
            <label>@Label<strong class="text-danger">*</strong></label>
        }
        else
        {
            <label>@Label</label>
        }
    }
    <div class=" input-group input-group-unstyled">

        <input id="@Id"
               class="@($"form-control {ValidationCssClass}")"
               value="@Value"
               type="@Type"
               disabled="@Disabled"
               @oninput="OnChangeEvent"/> 
        <div class="input-group-append">
                <span class="input-group-text px-1" style="background-color:white;">
                      <i class= 'oi oi-eye myIcon' @onclick="ShowPassword"></i>
                </span>
        </div>

    </div>
    <ValidationMessage For="ValueExpression" />
</div>