@using PRIME_UCR.Components.Controls
@using  PRIME_UCR.Domain.Models.UserAdministration
@using BlazorTable


<div class="bg-white p-3 col-sm-12 col-md-8 col-lg-12 rounded">
<h4>Selección de Perfiles</h4> <span class="required-star">*</span>
<br />
<Loading IsLoading="ListProfiles == null">
        <Table TableItem="Perfil" Items="ListProfiles">
            <Column TableItem="Perfil" Title="" Field="@(x => x.NombrePerfil)" Width="1%">
                <Template Context="checkbox">
                    <center>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheck @checkbox.NombrePerfil" checked="@Value.Profiles.Contains(checkbox.NombrePerfil)" @onchange="((ChangeEventArgs c) => update_profile(checkbox.NombrePerfil,c))" />
                            <label class="custom-control-label" for="customCheck @checkbox.NombrePerfil"></label>
                        </div>
                    </center>
                </Template>
            </Column>
            <Column TableItem="Perfil" Title="Nombre Perfil" Field="@(x => x.NombrePerfil)" Width="35%" />
        </Table>
    <ValidationMessage For="@(()=> Value.Profiles)"/>
</Loading>
</div>