@using PRIME_UCR.Domain.Models.UserAdministration
@using PRIME_UCR.Application.Services.UserAdministration
@using PRIME_UCR.Components.MedicalRecords.Tabs 
@inject NavigationManager NavManager
@inject IAppointmentService appointment_service
@inject IDoctorService doctor_service

<h3>Informacion general</h3>

<Loading IsLoading="Appointment == null">
    @if (Summary != null)
    {
        <SummaryMessage Content="Summary.Content" Values="Summary.Values" Class="info" />
    }
    <ListItem Title="Fecha de creación de la cita" Text="@Appointment.Cita.FechaHoraCreacion.ToString()" />
    <ListItem Title="Código de Cita" Text="@Appointment.CitaId.ToString()" />
    <ListItem Title="Locacion" Text="@Appointment.medical_center.Nombre" />
    <ListItem Title="Fecha de cita" Text="@Appointment.Cita.FechaHoraEstimada.ToString()" />
    @if (current_state != null)
    {
        <ListItem Title="Estado" Text="@current_state.NombreEstado" />
    }

    @if (doctor != null)
    {
        <ListItem Title="Medico relacionado" Text="@doctor.NombreCompleto" />
    }

    <ul class="list-group">
    </ul>

    <button class="btn btn-primary" @onclick="NextStatus">Pasar al siguente estado</button>

</Loading>